# ignore all files
/*

# root exceptions
!/.config/
!/.gitignore
!/.scripts
!/.zshenv
!/.xinitrc
!/.waylandrc

# .config
/.config/*
!/.config/alacritty/
!/.config/dunst/
!/.config/emacs/
/.config/emacs/*
!/.config/emacs/init.el
!/.config/freebsd/
!/.config/git/
!/.config/gtk-3.0/
!/.config/i3/
!/.config/i3status/
!/.config/kitty/
!/.config/lf/
!/.config/nvim/
!/.config/mimeapps.list
!/.config/picom/
!/.config/rofi/
!/.config/spotify-player/
!/.config/suckless/
!/.config/sway/
!/.config/swayidle/
!/.config/tmux/
!/.config/user-dirs.dirs
!/.config/zathura/
!/.config/zsh/
